@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.page-wrapper {
    font-family: 'Roboto Mono', sans-serif;
}

body {
    background-image: url("/img/weather.png");
    background-size: cover;
}


.column.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.singleCard {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: #7cb6d9;
}

/*div.row.bottom-section {*/
/*    */
/*}*/

/*div.row {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

div h3 {
    display: flex;
    font-size: 22px;
}


h1 {
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    color: white;
}

/* SEARCH BAR */

label {
    font-size: 32px;
    font-family: 'Roboto Mono', sans-serif;
    color: white;
    text-align: center;
    padding-top: 20px;
}

form.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 30px;
}

input, #setMarkerButton{
    display: flex;
    width: 400px;
    align-content: center;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
}

button#5, button#15, button#20{
    display: flex;
    position: relative;
    background-color: #0a6aa9;
    color: white;
    border-radius: 2px;
}
button {
    display: flex;
    background-color: #0a6aa9;
    color: white;
    border-radius: 2px;
}

button#setMarkerButton {
    display: flex;
    position: relative;
    left: 100px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
}